.content-productos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100vw;
}

.registrar-producto-container{
    border-radius: 10px;
    height: 90%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(3, 177, 252, 0.759);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.registrar-producto-container h2{
    place-items: left;
    justify-items: left;
    padding: 4px;
    margin-bottom: 20px;
}
.registrar-producto-container form{
    display: flex;
    flex-direction: column;
    gap: 3px;
    & input{
        border: 2px solid transparent;
        outline: none;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: #ffffff;
        color: #000000;
        font-size: 16px;
        margin-bottom:10px;
        &:focus{
            border: 2px solid #9e12e4;
            box-shadow: 0 0 5px #9e12e4;
            transition: all 0.3s ease-in-out;
        }
    }
    }
    & select{
        border: 2px solid transparent;
        outline: none;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: #ffffff;
        color: #000000;
        font-size: 16px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #f0f0f0 url('data:image/svg+xml;utf8,<svg fill="gray" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 0.75rem center;
        padding-right: 2rem;
        border-radius: 0.75rem;
        &:focus{
            border: 2px solid #9e12e4;
            box-shadow: 0 0 5px #9e12e4;
            transition: all 0.3s ease-in-out;
        }
    }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.registrar-producto-container button{
    width: 100%;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    background-color: black;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    margin-bottom:10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #ffffff;
        border-radius: 10px;
        color: #000000;
        transform: scale(1.03);
        border: 2px solid #9e12e4;
        }
    }
.container-modal-crear{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.container-modal-crear.mostrar {
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.container-modal-crear .modal{
    width: 100%;
    display: flex;
    margin: 0 500px;
    padding: 50px;
    background-color: #000000;
    z-index: 1;
    opacity: 0.6;
}
form {
    width: 100%;
    display: flex;
}
.registrar-producto-container{
    background-color: white;
    opacity: none;
    width: 50%;
    align-items: none;
    justify-content: none;
    flex-direction: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    overflow: hidden;

    
}
thead {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    & th {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        align-content: center;
        padding: 4px;
        & #crear-modal{
            background-color: #000000;
            width: 100%;
            color: #ffffff;
            border: none;
            border: 2px solid transparent;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: #00ff4c;
                color: #ffffff;
                transform: scale(1.03);
            }
        }
    }
}
.form-eliminar {
    margin: 0;
    padding: 0;
}
tbody {
    background-color: #ffffff;
    color: #000000;
    & td {
        text-align: center;
        }
}
.btn-confirmar {
    background-color: #000000 !important;
    color: #fff !important;
    border: none;
    padding: 8px 16px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    margin-right: 5px;
}

.btn-confirmar:hover {
    background-color: #ffffff !important;
    border-radius: 10px;
    color: #000000 !important; 
    transform: scale(1.05);
    border: 2px solid #9e12e4;
}

.btn-cancelar {
    background-color: #000000 !important;
    color: #fff !important;
    border: none;
    padding: 8px 16px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    margin-left: 5px;
    
}

.btn-cancelar:hover {
    background-color: #ffffff !important;
    border-radius: 10px;
    color: #000000 !important; 
    transform: scale(1.05);
    border: 2px solid #9e12e4;
}
#botones button {
    width: 30%;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    height: 40px;
    border: 2px solid transparent;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#botones .btn-editar:hover {
    background-color: #ffd904;
    transform: scale(1.05);
}
#botones .btn-ver:hover {
    background-color: #9e12e4;
    transform: scale(1.05);
}
#botones .borrar-boton:hover {
    background-color: #fe0239;
    transform: scale(1.05);
}
.filtros{
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
    justify-content: left;
    gap: 10px;
}
.form-control{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 80%;
}
#search {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;

    transition: all 0.3s ease-in-out;
    &:focus {
        border: 2px solid #9e12e4;
        box-shadow: 0 0 5px #9e12e4;
    }
}