/* Fondo del modal: ocupa toda la pantalla, centro contenido, oculto por defecto */
.container-modal-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Cuando se muestra, se activa visibilidad y se permite interacción */
.container-modal-show.mostrar {
    opacity: 1;
    visibility: visible;
}

/* Contenedor interno del modal */
.container-modal-show .modal {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    font-family: Arial, sans-serif;
}

.container-modal-show h2 {
    margin-bottom: 20px;
    color: #000;
}

.container-modal-show input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1.5px solid #ccc;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

.container-modal-show button#ocultar-modal-usuarios {
    width: 100%;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    height: 40px;
    border: 2px solid transparent;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.container-modal-show button#ocultar-modal-usuarios:hover {
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000; 
    transform: scale(1.05);
    border: 2px solid #9e12e4;
}
