.modificar-compras-container {
    border-radius: 10px;
    height: auto;
    width: 80%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modificar-compras-container h2 {
    place-items: left;
    justify-items: left;
    margin-bottom: 20px;
}

.modificar-compras-container form {
    display: flex;
    flex-direction: column;
    & input {
        border: 2px solid transparent;
        outline: none;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: #ffffff;
        color: #000000;
        font-size: 16px;
        margin-bottom: 10px;
        &:focus {
            border: 2px solid #9e12e4;
            box-shadow: 0 0 5px #9e12e4;
            transition: all 0.1s ease-in-out;
        }
    }
}

& select {
    border: 2px solid transparent;
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #f0f0f0
        url('data:image/svg+xml;utf8,<svg fill="gray" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
        no-repeat right 0.75rem center;
    padding-right: 2rem;
    border-radius: 0.75rem;
    &:focus {
        border: 2px solid #9e12e4;
        box-shadow: 0 0 5px #9e12e4;
        transition: all 0.3s ease-in-out;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modificar-compras-container button {
    width: 100%;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    background-color: black;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: #ffffff;
        border-radius: 10px;
        color: #000000;
        transform: scale(1.03);
        border: 2px solid #9e12e4;
    }
}

.container-modal-editar-compras {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.container-modal-editar-compras.mostrar {
    opacity: 1;
    visibility: visible;
}

.container-modal-editar-compras .modal {
    width: 100%;
    display: flex;
    margin: 0 500px;
    padding: 40px;
    background-color: #000000;
    z-index: 1;
    opacity: 0.6;
}

form {
    width: 100%;
    display: flex;
}

.modificar-compras-container {
    background-color: white;
    opacity: none;
    width: 50%;
    align-items: none;
    justify-content: none;
    flex-direction: none;
}